{extend name="layout/base" }
{block name="style"}
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<link href="/assets/css/health.css" rel="stylesheet">

<!--<link href="/assets/css/health/css.css" rel="stylesheet"/>-->

<script src="/assets/js/health/modernizr.js"></script>
<style>


</style>
{/block}
{block name="content-body"}
<div class="detail">

    <div class="am-g am-g-fixed " style="margin-bottom: 10px" >
        <!--<a href="javascript:;" method="notice" data-src="/assets/image/tips.png" class="layui-btn">See the steps</a>-->
        <a class="am-btn am-btn-warning layui-btn" method="notice" data-src="/assets/image/tips.png">
            <i class="am-icon-share"></i>
            See the steps
        </a>
    </div>

    <div class="am-g am-g-fixed detail_bg" >

        <div  id='tips' >
            <p >Game Dec</p>
        </div>
        <div class="game_zoom" style="position:relative;">
            <div class="am-form-group am-form-icon" style="position:absolute; z-index:10000; left:10px; top:100px">
                <?php if(isset($round) && $user_id != 0 ){ if($round < 7){ ?>

                <p>You can get points </p>
                <p>in the next <span style="color: red">{:$num}</span> Round(s) </p>
                <p><span style="font-weight: bold">Current difficulty level is {:$level['level']}</span></p>
                <?php }else{?>
                <p>Just for Fun ! </p>
                <?php } }else{ ?>
                <p>Just for Fun ! </p>
                <?php } ?>
            </div>
            <div class="am-form-group am-form-icon" style="position:absolute; z-index:10000; right:10px; top:100px">
                <p>You can try </p>
                <p><span class="times" style="color: red">{:$level['wrong_times']}</span> times left</p>
                <p>in this round</p>
            </div>
            <div id="foodRankingPlayground"  class="foodRankingPlayground">

                {volist name='list' id='vo'}
                <div id="{:$healthyLevel[$vo['healthyLevel']]}" class="foodImg" data-dec = "{:$vo.description}" >
                    <img  alt="AudioJungle" src="{:$vo.picpath}"/>
                </div>
                {/volist}

                <!--<div id="imgHest" class="foodImg">-->
                <!--<img alt="AudioJungle" src="http://www.fit-kidz.tk/images/demo/apple11.png"/>-->
                <!--</div>-->
                <!--<div id="imgHeal" class="foodImg">-->
                <!--<img alt="AudioJungle" src="http://www.fit-kidz.tk/images/demo/Salmon11.png"/>-->
                <!--</div>-->
                <!--<div id="imgNorm" class="foodImg">-->
                <!--<img alt="AudioJungle" src="http://www.fit-kidz.tk/images/demo/biscuit11.png"/>-->
                <!--</div>-->
                <!--<div id="imgUnh" class="foodImg">-->
                <!--<img alt="AudioJungle" src="http://www.fit-kidz.tk/images/demo/cocacola11.png"/>-->
                <!--</div>-->
                <!--<div id="imgUnhest" class="foodImg">-->
                <!--<img alt="AudioJungle" src="http://www.fit-kidz.tk/images/demo/burger11.png"/>-->
                <!--</div>-->

                <table id="foodLevel" class="tableDrop">
                    <tr>
                        <td>
                            <div id="hec" class="correctdiv">Correct</div>
                        </td>
                        <td>
                            <div id="hc" class="correctdiv">Correct</div>
                        </td>
                        <!--<td>-->
                        <!--<div id="noc" class="correctdiv">Correct</div>-->
                        <!--</td>-->
                        <td>
                            <div id="uhc" class="correctdiv">Correct</div>
                        </td>
                        <td>
                            <div id="uhec" class="correctdiv">Correct</div>
                        </td>
                    </tr>
                    <tr class="tableDropSlotRow">
                        <td id="hest">
                            <div id="slotHest" class="tableDropSlot"></div>
                        </td>
                        <td id="heal">
                            <div id="slotHeal" class="tableDropSlot"></div>
                        </td>
                        <!--<td id="norm">-->
                        <!--<div id="slotNorm" class="tableDropSlot"></div>-->
                        <!--</td>-->
                        <td id="unhea">
                            <div id="slotUnh" class="tableDropSlot"></div>
                        </td>
                        <td id="unhest">
                            <div id="slotUnhest" class="tableDropSlot"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px;">Healthiest</td>
                        <td style="font-size: 20px;">Healthy</td>
                        <!--<td style="font-size: 20px;">Normal</td>-->
                        <td style="font-size: 20px;">Unhealthy</td>
                        <td style="font-size: 20px;">Unhealthiest</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div  id='w_tips' style="height: 90px; width:760px; border:solid 1px #000000;background: #b2d6ef;margin:15px auto  ; ">
                                <p style="text-align: left;padding: 0px 10px;">wrong tips</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
    <input id="note" value="0" type="hidden" />
</div>

{/block}
{block name="script"}

<script src="/assets/js/health/jquery_drop.js"></script>

<script src="/assets/js/health/bootstrap.js"></script>

<script src="/assets/js/drag&drop.js"></script>
<script>
var user_id = "{:$user_id}";
var times = "{:$times}";
var wrong_times = "{:$level['wrong_times']}";

</script>
{/block}

