{extend name="layout/base" }
{block name="style"}

{/block}
{block name="content-body"}

<div class="detail" >
    <style>
        .detail_img  { height: 518px; width: auto\9; width:100%; }
    </style>
    <div class="am-g am-g-fixed detail_bg" >
        <img style="max-width:100%;overflow:hidden;" class="detail_img" src="/assets/image/obesity.jpg" alt="">
        <div  id='tips' >
            <p>
                What is Childhood Obesity?
            </p>

            <p>
                <span style="font-size:13px">Obesity is the excessive or abnormal accumulation of fat that may affect health. Childhood obesity is a medical condition which effect children and teenagers. If a child stores too much fat then they are classified as overweight or obese. </span>
            </p>

            <p>
                <span style="font-size:13px">If left unchecked, obese children grow up to become obese adults and this maybe the reason to many chronic diseases like type A diabetes, cholesterol and heart condition.</span>
            </p>
            <p>
                <img width="100%" height="8" src="/assets/image/line.png"/>
            </p>
            <p>
                Who is at risk?
            </p>

            <p>
                <span style="font-size:13px">Childhood obesity in most cases is a result of children eating too much and not having enough exercise. In some cases, obesity can be a result of deeper health issues which have no association to a child&#39;s lifestyle.</span>
            </p>

            <p>
                <span style="font-size:13px">Children who are at the risk of becoming overweight include:</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Children who consume a high quantity of sugary drinks.</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Children who don’t exercise enough.</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Who spend most of their time watching TV or playing video games (which does not burn calories)</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Have a lack of good nutrition information.</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Who cannot afford or have access to healthy food.</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Who are suffering from conditions such as Prader-Willi syndrome or Cushing&#39;s syndrome.</span>
            </p>
            <p>
                <img width="100%" height="8" src="/assets/image/line.png"/>
            </p>
            <p>
                What are the complications associated with childhood obesity?
            </p>

            <p>
                <span style="font-size:13px">Childhood Obesity can lead to health complications such as:</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Liver diseases.</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Type 2 diabetes.</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Respiratory issues like asthma.</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Bone and joint problems. </span>
            </p>

            <p>
                <span style="font-size:13px">Obesity also has some serious psychological effects like:</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Increased risk of depression.</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">More likely to be bullied or teased.</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">May have poor self-esteem.</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">May feel socially isolated.</span>
            </p>
            <p>
                <img width="100%" height="8" src="/assets/image/line.png"/>
            </p>
            <p>
                What can I do to prevent childhood obesity?
            </p>

            <p>
                <span style="font-size:13px">Obesity in children can be prevented if the right measures are taken at the right time. This includes:</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Live 5-2-1-0 which is consume 5 or more veggies and fruits per day, no more than 2 hours of screen time (TV, Video games), At least 1 hour of physical activity and 0 sugary drinks.</span>
            </p>
            <p>
                <span style="font-size:13px">-<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:13px">Seek your doctor’s advice.</span>
            </p>
            <p>
                <img width="100%" height="8" src="/assets/image/line.png"/>
            </p>
            <p>
                Source
            </p>

            <p>
                <span style="font-size:13px">www.childhoodobesityfoundation.ca</span>
            </p>
            <p>
                <br/>
            </p>
        </div>
    </div>
</div>

{/block}
{block name="script"}

{/block}
