<!--{extend name="layout/base" }
{block name="style"}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="/assets/home/css/homepage.css" rel="stylesheet">
{/block}
{block name="content-body"}-->
{extend name="layout/base" }
{block name="style"}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Aviato E-Commerce Template"/>
  
  <meta name="author" content="Themefisher.com"/>

  <title>Fit-Kidz</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"/>
  <!-- bootstrap.min css -->
  <!--<link rel="stylesheet" href="/assets/css/plugins/bootstrap/css/bootstrap.min.css"/>-->
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href="/assets/css/plugins/Ionicons/css/ionicons.min.css"/>
  <!-- animate.css -->
  <link rel="stylesheet" href="/assets/css/plugins/animate-css/animate.css"/>
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/dist/magnific-popup.css"/>
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="/assets/css/plugins/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" href="/assets/css/plugins/slick-carousel/slick/slick-theme.css"/>

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/assets/css/style.css"/>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
{/block}
{block name="content-body"}

<body id="page-top">
<section class="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animated fadeInUp"></h1>
                    <p class="animated fadeInUp"></p>
                    <!--<a href="https://themefisher.com/free-bootstrap-templates/" target="_blank" class="btn btn-main animated fadeInUp" >Free Bootstrap Templates</a>-->
                </div>
            </div>
        </div>
    </div>
</section>


<section class="service-about section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<h2>What are the complications associated with childhood obesity?</h2>
				<p class="mt-30">Childhood Obesity can lead to health complications such as: <br>
					- Liver diseases.<br>
					- Type 2 diabetese.<br>
					- Respiratory issues like asthma.<br>
					- Bone and joint problems. <br>
 
					Obesity also has some serious psychological effects like: <br>
					- Increased risk of depression. <br>
					- More likely to be bullied or teased. <br>
					- May have poor self-esteem. <br>
					- May feel socially isolated. </p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="/assets/image/aboutObesity.png">
			</div>
		</div>
	</div>
</section>

<section class="service-arrow">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 bg-primary1">
				<div class="block">
					<i class="ion-erlenmeyer-flask"></i>
					<h3>28% of Australian Adults were obese in 2014-2015, an increase from 19% in 1995</h3>
				</div>
			</div>
			<div class="col-md-4 bg-primary1 bg-primary-dark">
				<div class="block">
					<i class="ion-leaf"></i>
					<h3>1 in 4 Australian children aged 2-17 years were overweight or obese in 2014-15</h3>
				</div>
			</div>
			<div class="col-md-4 bg-primary1 bg-primary-darker">
				<div class="block">
					<i class="ion-lightbulb"></i>
					<h3>5% of the burden of disease was attributed to overweight and obesity in 2011.</h3>
				</div>
			</div>
		</div>
	</div>
</section>
 <!-- <script src="js/jquery.counterup.js"></script> -->
    
    <!-- Main jQuery -->
   
    <script src="https://code.jquery.com/jquery-git.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="/assets/css/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/assets/css/plugins/slick-carousel/slick/slick.min.js"></script>
    <!--  -->
    <script src="/assets/css/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Mixit Up JS -->
    <script src="/assets/css/plugins/mixitup/dist/mixitup.min.js"></script>
    <!-- <script src="plugins/count-down/jquery.lwtCountdown-1.0.js"></script> -->
    <script src="/assets/css/plugins/SyoTimer/build/jquery.syotimer.min.js"></script>


    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>


    
    <!-- Google Map -->
  <!--  <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>-->

    <script src="/assets/js/script.js"></script>

    </div>
</div>
{/block}

</body>