* {
    margin: 0;
    padding: 0;
}

.box-wrapper {
    height: 500px;
    width: 100%;
    /* background-color: #e69e9e; */
}

.wrapper {
    margin: 0 auto;
    width: 480px;
    height: 100px;
    /* position: relative; */
}

.wrapper .box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    position: absolute;
}

.wrapper .box:hover {
    z-index: 10;
    transform: rotate(0);
}

.line-wrapper {
    height: 168px;
}

.line-box {
    margin: 0 auto;
    width: 545px;
}

.line-box p {
    text-align: center;
}

.line-box .box {
    width: 100px;
    height: 100px;
    float: left;
}

.line-box .box .box {
    transform: rotate(0deg) !important;
}

#b1 {
    left: 60%;
    top: 50px;
    transform: rotate(48deg);
    background-color: #ecc5c5;
}

#b2 {
    left: 38%;
    top: 50px;
    transform: rotate(20deg);
    background-color: #da9b9b;
}

#b3 {
    left: 46%;
    top: 65px;
    transform: rotate(-24deg);
    background-color: #b5e4f3;
}

#b4 {
    left: 55%;
    top: 100px;
    transform: rotate(14deg);
    background-color: #6dc3de;
}

#b5 {
    left: 40%;
    top: 145px;
    transform: rotate(5deg);
    background-color: #c2efbc;
}

#b6 {
    left: 51%;
    top: 145px;
    transform: rotate(-5deg);
    background-color: #c5c5e2;
}

.box {
    margin: 10px;
}

.line-box li {
    float: left;
    list-style-type: none;
}

.detail_bg {
    width:1460px;
    height:740px;
    margin-left:auto;
    margin-right:auto;
    border: solid 1px #000000;
    padding-top: 10px;
    /*background: #99d5ca*/
    background:url(../../assets/image/healthimg/background.png) no-repeat;
}

#tips {
    height: 70px;
    border: solid 1px #000000;
    background: #ffdba9;
    margin: 0 15px 10px 15px;
}

#tips p {
    text-align: center;
    line-height: 70px;
}

.game_zoom {
    margin: 0 5px;
}

.foodImg {
    width: 150px;
    height: 150px;
    /*padding: 56px 0px;*/
    display: table-cell;
    vertical-align: bottom;
    text-align: center;

    position: absolute;
    margin: 10px 10px 10px 0;
    z-index: 100;
    /*background: url(../../assets/image/healthimg/drag.png) no-repeat bottom;*/
}

.foodRankingTarget {
}

.correctdiv {
    top: 0;
    font-size: 30px;
    color: #90ee90;
    font-weight: bold;
    visibility: hidden
}

.foodRankingPlayground {
    width: 100%;
    /*height: 900px;*/
    height: 620px;
    /*background: #faebd7*/
}

.constraint {
    width: 100%;
    height: 450px;
    position:absolute;
    bottom:20px;
}

#images li {
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    width: 162px;
    padding: 5px;
    overflow: hidden
}

#images li div {
    overflow: hidden
}

.tableDrop {
    position: relative;
    margin: auto;
    /*top: 500px;*/
    top: 10px;
    text-align: center;
    z-index: 1
}

.tableDropSlotRow {
    /*vertical-align: middle;*/
    height: 100px
}

.tableDropSlot {
    width: 190px;
    height: 132px;
    top: 5px;
    background: url(../../assets/image/plate11.png) no-repeat
}

.roundImg {
    position:relative;
    width: 160px;
    height: 79px;
    background: url(../../assets/image/healthimg/round.png) no-repeat
}

.gameRound {
    position:absolute;
    font-size: 45px;
    text-align: center;
    line-height: 50px;
    width:60px;
    height:50px;
    right:9%;
    bottom:10%;
}

.haveFun {
    position:absolute;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    width:60px;
    height:50px;
    font-family: "orbitron-Bold", sans-serif;
}


.tutorialImg {
    width: 220px;
    height: 103px;
    background: url(../../assets/image/healthimg/tutorial.png) no-repeat
}

.dragTimeImg {
    position:relative;
    width: 192px;
    height: 75px;
    background: url(../../assets/image/healthimg/timesleft.png) no-repeat
}

.dragTimes {
    position:absolute;
    font-size: 45px;
    text-align: center;
    line-height: 50px;
    width:60px;
    height:50px;
    left:4%;
    bottom:3%;
}

.tableDropSlot1 {
    width: 262px;
    height: 96px;
    margin:auto;
    background: url(../../assets/image/healthimg/drop.png) no-repeat
}

.tableCenter {
    vertical-align: bottom;
    text-align: center;
}

.description {
    height: 147px;
    width:1140px;
    background:url(../../assets/image/healthimg/tips.png);
    margin:15px auto;
}

@font-face {
    font-family: orbitron-bold;
    src: url(../../assets/image/healthimg/orbitron-bold.otf) format("truetype");
}

.desText {
    text-align: left;
    padding: 10px 10px;
    font-family: "orbitron-Bold", sans-serif;
}




