<!DOCTYPE html>
<html>
<head lang="en">
    {include file="layout/toper" /}
    {block name="style"}{/block}
</head>

{block name="body"}
<body>
{block name="header"}
{include file="layout/header" /}
{/block}
{block name="content-body"}{/block}
{block name="footer"}
<footer class="footer">
    <p>
        Copyright 2018
    </p>
</footer>
<script type="text/javascript" src="/assets/js/layer/layer.js"></script>
<style>
* {
    margin: 0;
}
html, body {
    height: 100%;
}

.detail {
    min-height: 100%;
    margin: 0 auto -60px; /* -60pxthe bottom margin is the negative value of the footer's height */
}
footer, .footer {
    height: 60px; /* '.push' must be the same height as 'footer' */
}
</style>
{/block}
</body>
{/block}

{block name="script"}{/block}
</html>