<footer class="footer">
    <p>
        Copyright 2018
    </p>
</footer>
<style>
* {
    margin: 0;
}
html, body {
    height: 100%;
}

.detail {
    min-height: 100%;
    margin: 5px auto -60px; /* -60pxthe bottom margin is the negative value of the footer's height */
}
footer, .footer {
    height: 60px; /* '.push' must be the same height as 'footer' */
}
</style>
<script type="text/javascript" src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.ie8polyfill.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/layer/layer.js"></script>
<script type="text/javascript" src="/assets/js/action.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>